* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 0 0.5rem 2rem 1.5rem;
  margin-bottom: 40px;
  text-align: center;

}

.header {
  background-color: rgb(34, 32, 32);
  color: white;
  padding-bottom: 0.5rem;
  text-align: right;
}

.title{
  padding-right: 30px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 1.5rem;
  padding: 5px;
}

table, thead, th {
  border: 0;
}